@import '../../brand';
.Page {
  background: darken($iron, 13%);
  display: flex;
  flex-flow: column;
  height: 100%;
}

.App-main {
  display: flex;
  flex-direction: row;
  font-family: $body-font-stack;
  margin: 0 auto !important; //$minor-second;
  >* { padding: $minor-first; }
}