@import '../brand';
.Construction {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    background-color: $alto;
    .Hero-header { height: $major-fifth }
}