@import "../../brand";

.Profile-body {
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  background: $alto;
  .aside-wrapper {
    flex: 1;
    margin: 20px;
    margin-top: 20px !important;
      max-width: 420px;
    // .aside {
    // }
  }
  .main {
    margin: 20px;
    margin-top: 20px !important;
    .Feed {
    width: 600px;
      .inline-header-wrapper {
        width: 420px;
      }
      // width: 700px;
      margin: 0 auto;
      display: flex;
      flex-flow: column;
      align-items: center;
      // background-color: #f4f4f4;
    }
  }
}
